body {
  padding: 0;
  margin: 0;
  touch-action: none;
  overflow: hidden;
  background: lightgrey;
  user-select: none;
}

.jumbotron {
  font-size: 2cm;
  text-align: center;

  position: absolute;
  top: -1cm;
  width: 100vw;
  padding-top: 50vh;

  z-index: -1;
}

[role="button"] {
  width: 100vw;
  display: block;
  user-select: none;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: -1;

  >.shaker {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
}

.buttonHeight(@count) {
    height: (100vh/@count);
    font-size: (50vh/@count);
}
.bc1 { .buttonHeight(1); }
.bc2 { .buttonHeight(2); }
.bc3 { .buttonHeight(3); }
.bc4 { .buttonHeight(4); }
.bc5 { .buttonHeight(5); }
.bc6 { .buttonHeight(6); }
.bc7 { .buttonHeight(7); }
.bc8 { .buttonHeight(8); }

@keyframes shakeKeyframe {
  10%, 90% {
    transform: translate3d(-30px, -30px, 0) rotate(8deg);
  }

  20%, 80% {
    transform: translate3d(30px, 30px, 0) rotate(-5deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-30px, 30px, 0) rotate(5deg);
  }

  40%, 60% {
    transform: translate3d(30px, -30px, 0) rotate(-8deg);
  }
}

.shaker.shake {
    animation: shakeKeyframe 0.82s cubic-bezier(.36,.07,.19,.97) ;
    animation-iteration-count: infinite;
    box-shadow: 8px 8px 10px fade(slategrey, 60%);
    z-index: 2;
    position: relative;
}
